body {
  /* margin defines the space around the elements border*/
  margin: 0;
  /* font family defines what type of font being used*/
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  /*overflow specifies what action should taken if content overflows out of box*/
  overflow: hidden;
  /*defines the color of background*/
  background-color: #333;
}

.topnav a {
  /*defines the place of the text*/
  float: left;

  display: block;
  /*defines the color of the text*/
  color: #f2f2f2;
  /*defines the horizontal alignment of content*/
  text-align: center;
  /* it creates space around element*/
  padding: 14px 16px;
  /*used to decorate the text*/
  text-decoration: none;
  /*defines the size of font or text*/
  font-size: 17px;
}

.topnav a:hover {
  /*defines the color of background*/
  background-color: #ddd;
  /*defines the color of the text*/
  color: black;
}

.topnav a.active {
  /*defines the color of background*/
  background-color: #04AA6D;
  /*defines the color of the text*/
  color: white;
}

.topnav .icon {
  /*specifies display behaviour*/
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    /*defines the place of the element*/
    float: right;
    /*specifies display behaviour*/
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    /*defines type of positioning method for element*/
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    /*defines the place of the element*/
    float: none;
    /*specifies display behaviour*/
    display: block;
    /*defines the horizontal alignment of content*/
    text-align: left;
  }
}

body {
  /*font family defines what type of font being used*/
  font-family: "Lato", sans-serif;
}

.sidenav {
  /*defines the height of the element*/
  height: 100%;
  /*defines the width of element*/
  width: 0;
  /*defines type of positioning method for element*/
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /*sets the background color*/
  background-color: #111;
  /*overflow specifies what action should taken if content overflows out of box*/
  overflow-x: hidden;
  /*the transition effect will start when the specified CSS property changes*/
  transition: 0.5s;
  /*sets the top padding*/
  padding-top: 60px;
}

.sidenav a {
  /*defines space near element*/
  padding: 8px 8px 8px 32px;
  /*used to decor the text*/
  text-decoration: none;
  /*defines the size of the text*/
  font-size: 25px;
  /*defines color of the text*/
  color: #818181;
  display: block;
  /*the transition effect will start when the specified CSS property changes*/
  transition: 0.3s;
}

.sidenav a:hover {
  /*defines the color of the text*/
  color: #f1f1f1;
}

.sidenav .closebtn {
  /*defines type of positioning method for element*/
  position: absolute;
  top: 0;
  right: 25px;
  /*defines the font size*/
  font-size: 36px;
  /*sets the margin on the left*/
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}